.main-container {
  max-width: 80vw;
  height: 100vh;
  margin-left: 320px;
  margin-right: 56px;
  background-color: lightblue;
}
.header_navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 10px;
  background-color: deepskyblue;
  border-radius: 10px;
}
.header_navigation .navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header_navigation .navigation .arrow-left {
  margin-right: 1.25rem;
}
.arrow-left .arrow-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: var(--bg-icon);
  background-color: var(--bg-arrow-color);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.arrow-left img,
.arrow-right img {
  background-color: white;
  width: 16px;
  height: 16px;
}
.header_login {
  display: flex;
  align-items: center;
}
.header_search {
  display: flex;
  align-items: center;
  width: 364px;
  height: 48px;
  margin-left: 10px;
  background-color: var(--bg-icon);
  border-radius: 500px;
  border: 2px solid transparent;
}
.header_search img {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}
.header_search input {
  background: aqua;
  border: none;
  padding: 0px 100px 0px 20px;
  color: blue;
  height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
  border-radius: 40px;
  text-size: 30px;
  margin-left: 10px;
}
.header_search input placeholder {
  color: blue;
}
.header_login .subscribe {
  color: yellow;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--bg-icon-bg);
  margin-right: 32px;
}
.header_login .login {
  width: 100px;
  height: 48px;
  color: yellow;
  font-size: 16px;
  font-weight: 700px;
  border-radius: 40px;
}
.disafio {
  font-size: 25px;
  color: blue;
  margin-left: 300px;
  padding-top: 30px;
  line-height: 24px;
}
